


section, h1, nav{
	margin: 0 10%;
}



/* HEADER TITRE */
h1 {
	margin-top: 5%;
	text-align: center;
	font-size: 25px;
	font-family: 'Stylish', sans-serif;

}


/* HEADER BANDEAU NOIR */

.bandeau {
	background-color : black;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
		justify-content: row-reverse;
}

.bandeau img {
	width: 30px;
	height: 30px;
	padding: 10px 1px;
}

nav {

}
nav .menumobile{
	color: red;
	
}
.menu {
	display: none;
}
input[type=checkbox] {
	display: none;
}
input[type=checkbox]:checked ~ ul{
	display: block;
}



 /* MENU NAVIGATION */
/* nav{
 	margin: 0 20%;
 }

nav ul{
	display: flex;
	justify-content: center;
	align-items: center;
	list-style-type: none;
	padding: 15px 0;
}

nav li > a {
	font-family: 'Stylish', sans-serif;
	color: #ADADAD;
	text-transform: uppercase;
	font-size: 20px;
	text-decoration: none;
	padding: 0 70px ;
}
 nav li > a:hover {
	text-shadow:  1px 1px;

}
 .bandeau p {
 	color: white;
 	display: flex;
 	align-items: center;
 	margin-left: 20px;
 	font-family: 'Stylish', sans-serif;
 	font-size: 20px;
 }

 .bandeau p a:hover {
 	text-shadow: grey 1px 0 1px;
 }
*/


 /* BARRE RECHERCHE PAGE ARTICLES*/
 .search{
	margin: 30px auto;
	width: 70%;
}

.search input {
	background-color: white;
	text-align: center;
	height: 40px;
	width: 20%;
	padding: 10px;
	border: 0.5px solid #E1E1E1;
	border-radius: 20px;
	box-shadow: 7px 6px 5px #2c3e50;
	outline: 0;

}
.search button {
	background-color: white;
	position: relative;
	left: -39px;
	border: none;
	width: 39px;
	height: 39px;
	border-radius: 20px;
	outline: 0;
}




/* PAGE ACCUEIL -> ARTICLES */
.firstrow, .secondrow{
        display: grid;
        grid-template-columns: 4fr 4fr 4fr 4fr;
      
    }
.thirdrow {
	display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

article {
	grid-gap: 10px 10px ;
	position: relative;
	margin: 15px 5px;
	transition: transform .2s;
	filter: brightness(85%) blur(0.2px);
}


article span {
	position: absolute;
	top: 5px;
	color: white;
	text-shadow: black 1px 1px 1px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

article h3 {
	font-size: 20px;
	font-weight: bold;
	margin: 0;
}

article p {
	margin: 10px 0;
	font-size: 16px;
}

article  img {
	width: 100%;
}

article:hover {
	
	filter: brightness(100%) blur(0px);
	transform: scale(1.05);
}

.a {
	display: grid;
	grid-row: 1;
	grid-column : 1 / 3;
	z-index: 1;
}

.b {
	display: grid;
	grid-row: 1;
	grid-column: : 3 / 4;
}

.c {
	display: grid;
	grid-row: 1;
	grid-column: : 4 / 4;
}

.d {
	display: grid;
	grid-row: 2;
	grid-column : 1 / 2;
}

.e {
	display: grid;
	grid-row: 2;
	grid-column : 2 / 3;
}

.f{
	display: grid;
	grid-row: 2;
	grid-column : 3 / 5;
}


/* PAGE CONNEXION */
.identification {
	background: url('https://picsum.photos/2000/1000') no-repeat;
	background-attachment: fixed;
} 

.connectform {
	width: 300px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	display: flex;
	flex-direction: column;
	background-color: rgba(0, 0, 0, 0.8);

}

.connect > div {
	display: flex;
	justify-content: flex-start;
	border-top: 30px white solid;
}

.connectform * {
	padding: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.connectform button, h2{
	text-transform: uppercase;

}
.connectform  a {
	margin: 20px;
	color: white;
	font-size: 12px;
	text-decoration: none;
	text-transform: uppercase;

}
.connectform input {
	overflow: hidden;
	float: right;
}	

.input i {
	float: left;
	width: 20px;

}

.connectform input {
	background: none;
	outline: 0;
	border: none;
	border-bottom: 1px white solid;
}

/* ARTICLES */



/* THEME ARTICLES */
.themes {
	display: grid;
	display: flex;
	flex-direction: row;
	justify-content: space-around;

}
.themes table{
	padding: 20px 20px;
	background-color: pink;
	}

.themes td {
	display:flex;
	flex-direction: column;
	align-items: center;
}

.themes th {
	font-size: 22px;
	padding-bottom: 15px;
	border-bottom: black solid 2px;
}
