section, h1, nav{
	margin: 0 5%;
}

body{
	margin:0;
}


/* HEADER TITRE */
h1 {
	margin-top: 5%;
	text-align: center;
	font-size: 25px;
	font-family: 'Stylish', sans-serif;

}


/* HEADER BANDEAU NOIR */

.bandeau {
	background-color : black;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	flex-direction: row-reverse;
}

.bandeau img {
	width: 30px;
	height: 30px;
	padding: 5px 4px;
	
}
.icones {
	margin-right: 5px;
}
nav {
	margin: 0;
	position: fixed;
}

nav .menumobile{
	position: fixed;
	color: white;
	width: 150%;
	top: 12px;
	left: 12px;
}
.menu {
	display: none;
}
.menumobile > i {
	width: 300%;
}
.menu li, .menu a{
	text-decoration: none;
	list-style-type: none;
	font-size: 12px;
	text-transform: uppercase;
}
input[type=checkbox] {
	display: none;
}
input[type=checkbox]:checked ~ ul{
	display: block;
}

h1{
	margin: 30px;
}

 /* BARRE RECHERCHE PAGE ARTICLES*/
 .search{
	margin: 30px auto;
	width: 70%;
}

.search input {
	background-color: white;
	text-align: center;
	height: 40px;
	width: 20%;
	padding: 10px;
	border: 0.5px solid #E1E1E1;
	border-radius: 20px;
	box-shadow: 7px 6px 5px #2c3e50;
	outline: 0;

}
.search button {
	background-color: white;
	position: relative;
	left: -39px;
	border: none;
	width: 39px;
	height: 39px;
	border-radius: 20px;
	outline: 0;
}




/* PAGE ACCUEIL -> ARTICLES */
article {
	display: flex;
	flex-direction: column;
	justify-content: center;	
	align-items: center;
	position: relative;
}

article a {
	text-decoration : none;
	color: black;
}
article span {
	position: absolute;
	top: 5px;
	color: white;
	text-shadow: black 1px 1px 1px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

/* PAGE CONNEXION */
.identification {
	background: url('https://picsum.photos/2000/1000/') no-repeat;
	background-attachment: fixed;
	width: 100%;
} 

.connectform {
	width: 300px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	display: flex;
	flex-direction: column;
	background-color: rgba(0, 0, 0, 0.8);

}

.connect > div {
	display: flex;
	justify-content: flex-start;
	border-top: 30px white solid;
}

.connectform * {
	padding: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.connectform button, h2{
	text-transform: uppercase;

}
.connectform  a {
	margin: 20px;
	color: white;
	font-size: 12px;
	text-decoration: none;
	text-transform: uppercase;

}
.connectform input {
	overflow: hidden;
	float: right;
}	

.input i {
	float: left;
	width: 20px;

}

.connectform input {
	background: none;
	outline: 0;
	border: none;
	border-bottom: 1px white solid;
}

/* ARTICLES */



/* THEME ARTICLES */
.themes {
	display: grid;
	display: flex;
	flex-direction: row;
	justify-content: space-around;

}
.themes table{
	padding: 20px 20px;
	background-color: pink;
	}

.themes td {
	display:flex;
	flex-direction: column;
	align-items: center;
}

.themes th {
	font-size: 22px;
	padding-bottom: 15px;
	border-bottom: black solid 2px;
}
