/*HEADER*/
.bandeau {
	background-color : black;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.bandeau img {
	width: 50px;
	height: 50px;
	padding: 10px 3px;
	

}
.bandeau .icones {

}
 .bandeau p > a{
 	color: white;
 	text-transform: uppercase;
 	font-weight: bold;
 	text-decoration: none;


 }

 /*BARRE RECHERCHE*/
 .demo{
	margin: 30px auto;
	width: 70%;
}

input {
	background-color: white;
	text-align: center;
	height: 40px;
	width: 20%;
	padding: 10px;
	border: 0.5px solid #E1E1E1;
	border-radius: 20px;
	box-shadow: 7px 6px 5px #2c3e50;
	outline: 0;

}
button {
	background-color: white;
	position: relative;
	left: -39px;
	border: none;
	width: 39px;
	height: 39px;
	border-radius: 20px;
	outline: 0;
}

/*ACCUEIL ARTICLES*/
